# Firebase Client Authentication Keys
VITE_FIREBASE_API_KEY=AIzaSyDN3rq6Wdy9qT-_v3CbgrRqkLP5ALBl6AE
VITE_FIREBASE_AUTH_DOMAIN=piyushdhara-5addf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=piyushdhara-5addf
VITE_FIREBASE_STORAGE_BUCKET=piyushdhara-5addf.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=970130144995
VITE_FIREBASE_APP_ID=1:970130144995:web:a55436f26151a26b550fd6
VITE_FIREBASE_MEASUREMENT_ID=G-LR4HXY4F8T

# Backend API URL (Use http://localhost:5000/api for local, or https://your-backend.onrender.com/api for production)
VITE_API_URL=http://localhost:5000/api
